@charset "UTF-8";

/* cores
fundo, fundo dos campos: #011126
 gradiente fundo: #011126, #0E223C,  #153259, 
 tela login fundo: #012e68d7
 cor butão entrar: #048ABF 
 borda do esqueci a senha: #0890c5
 letra esqueci a senha e o pin: #046991
 cor de :hover dos campos: #72B6FF
 cor do :focus: #9AC7FF
 cor da letra do h1: rgb 199 199 199
 */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #011126;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login{
    background-color:  #012e68d7;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

.img{
    display: block;
    background-color: #011126;
    background-image: url(../img/predio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px
}

.form{
    display: block;
    padding: 10px;
}

.form h1{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(199, 199, 199);
}

.campo{
    background-color: #011126;
    color: rgb(199, 199, 199);
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin: 10px 0px;
}

.material-symbols-outlined{
    font-size: 25px;
    transform: translate(25%, 25%);
    width: 40px;
}

.campo input{
    color: black;
    background-color: #0367a6;
    border: none;
    width: calc(100% - 50px);
    height: 30px;
    border-radius: 15px;
    padding: 8px;
}

.campo input:focus-within{
    background-color: white;
}

::placeholder{
    color: black;
    padding: 5px;
}

.entrar{
    display:block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #048ABF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.entrar:hover{
    background-color: #006086;
    cursor: pointer;
}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #006086;
    text-decoration: none;
    border: 1px solid #048ABF;
    border-radius: 5px;
}

.botao:hover{
    background-color: #72B6FF;
}

#mail{
    transform: translateY(30%);
}