@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .login{
        width: 768px;
    }

    .img{
        transform: translate(100%, 0%);
        background-position: center top;
        background-size: cover;
        width: 50vw;
        height: 100vh;
    }

    .form{
        transform: translate(-24%, -150%);
    }

    .form h1{
        font-size: 3em;
        transform: translate(-1%,-50%);
    }

    p{
        width: 380px;
        transform: translateX(45%);
    }

    input{
        width: 310px;
        height: 55px;
        transform: translate(3%, 0%);
    }

    .material-symbols-outlined{
        font-size: 35px;
        transform: translate(10%, 30%);
    }

    .entrar, .esqueci{
        width: 370px;
        transform: translate(0%, 0%);
    }

}

@media screen and (min-width:1025px) {
    .login{
        width: 1000px;
    }

    .img{
        transform: translate(90%, 0%);
        background-position: center center;
        background-size: cover;
        width: 40vw;
        height: 90vh;
    }

    .form{
        transform: translate(-24%, -130%);
    }

    .form h1{
        font-size: 3em;
        transform: translate(-1%,-50%);
    }

    p{
        width: 470px;
        transform: translateX(50%);
    }

    input{
        width: 375px;
        height: 55px;
        transform: translate(5%, 0%);
    }

    .entrar, .esqueci{
        width: 460px;
        transform: translateX(-0%);
    }

    .material-symbols-outlined{
        font-size: 35px;
    }

}